<tr>
  <td>{{food.meal_item.food_for_meal.desc}}</td>
  <td>{{food.meal_item.food_for_meal.calories}}</td>
  <td>{{food.meal_item.food_for_meal.grams_per_serving}}</td>
  <td>{{food.meal_item.food_for_meal.fat_sat}}</td>
  <td>{{food.meal_item.food_for_meal.fat_mono}}</td>
  <td>{{food.meal_item.food_for_meal.fat_poly}}</td>
  <td>{{food.meal_item.food_for_meal.carbs}}</td>
  <td>{{food.meal_item.food_for_meal.sugar}}</td>
  <td>{{food.meal_item.food_for_meal.protein}}</td>
  <td>{{food.meal_item.food_for_meal.fiber}}</td>
  <td>{{food.meal_item.food_for_meal.sodium}}</td>
  <td>{{food.meal_item.food_for_meal.choles}}</td>
</tr>
