<tr>
  <td>{{food.food.desc}}</td>
  <td>{{food.food.calories}}</td>
  <td>{{food.food.grams_per_serving}}</td>
  <td>{{food.food.fat_sat}}</td>
  <td>{{food.food.fat_mono}}</td>
  <td>{{food.food.fat_poly}}</td>
  <td>{{food.food.carbs}}</td>
  <td>{{food.food.sugar}}</td>
  <td>{{food.food.protein}}</td>
  <td>{{food.food.fiber}}</td>
  <td>{{food.food.sodium}}</td>
  <td>{{food.food.choles}}</td>
</tr>
